@import "tailwindcss";
@theme {
  --breakpoint-xs: 30rem;
  --font-modam: var(--font-modam), sans-serif;
  --color-tint1: #b7d9d6;
  --color-tint2: #9fcdc9;
  --color-tint3: #87c1bb;
  --color-tint4: #6fb4ad;
  --color-tint5: #57a7a0;
  --color-tint6: #3f9b92;
  --color-tint7: #278f85;
  --color-primary: #417f56;
  --color-shade1: #396f4b;
  --color-shade2: #315f41;
  --color-shade3: #294f36;
  --color-shade4: #21402b;
  --color-shade5: #183020;
  --color-shade6: #102016;
  --color-neutral1: #fafafa;
  --color-neutral2: #f6f6f6;
  --color-neutral3: #efefef;
  --color-neutral4: #e1e1e1;
  --color-neutral5: #d9d9d9;
  --color-neutral6: #cbcbcb;
  --color-neutral7: #adadad;
  --color-neutral8: #909090;
  --color-neutral9: #717171;
  --color-neutral10: #505050;
  --color-neutral11: #353535;
  --color-neutral12: #212121;
  --color-error: #ed2e2e;
  --color-bg-error: #fff2f2;
  --color-bg-primary: #f3fdfa;
  --color-bg-service: #e5f2e9;
  --color-WHITE: #ffffff;
  --color-BLACK: #121212;
}

@utility container {
  @media (width >= 30rem /* 480px */) {
    max-width: 100% /* 480 */;
  }
  @media (width >= 40rem /* 640px */) {
    max-width: 40rem /* 640px */;
  }
  @media (width >= 48rem /* 768px */) {
    max-width: 48rem /* 768px */;
  }
  @media (width >= 64rem /* 1024px */) {
    max-width: 64rem /* 1024px */;
  }
  @media (width >= 80rem /* 1280px */) {
    max-width: 80rem /* 1280px */;
  }
  @media (width >= 90rem /* 1440px */) {
    max-width: 90rem; /* 1440px */
  }

  @apply mx-auto w-full px-4 md:px-2.5 2xl:max-w-320;
}
